<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald" />
    <meta name="author" content="SitePoint" />

    <link rel="stylesheet" href="css/styles.css?v=1.0" />
  </head>

  <body>
    <form action="/api/numbers" method="post">
      <label for="n1">First Number:</label>
      <input type="text" id="n1" name="n1" />
      <br /><br />
      <label for="n2">Second Number:</label>
      <input type="text" id="n2" name="n2" />
      <br /><br />
      <input type="submit" value="Calculate" />
    </form>
  </body>
</html>
